<%- include("partials/header"); -%>

<div class="maincont">
  <div class="contact">
    <table style="width: 100%">  
     
        <table>
          
      <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Balance</th>
          <th>view customer</th>
          <th>send money</th>

        </tr>
      <% for(var i=0;i<ccustomer.length;i++){ %>
    
        <tr>
          <td><%= ccustomer[i].name %></td>
          <td><%= ccustomer[i].email %></td>
          <td><%= ccustomer[i].currBalance %></td>
          <td><a class="anchor" href="/<%=ccustomer[i].id %>"> view </a></td>
          <td><a class="anchor" href="/send">Send </a></td>
          
        </tr> 
        <% } %>  
        <!-- <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
        <tr>
          <td>Ernst Handel</td>
          <td>Roland Mendel</td>
          <td>Austria</td>
        </tr>
        <tr>
          <td>Island Trading</td>
          <td>Helen Bennett</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Laughing Bacchus Winecellars</td>
          <td>Yoshi Tannamuri</td>
          <td>Canada</td>
        </tr>
        <tr>
          <td>Magazzini Alimentari Riuniti</td>
          <td>Giovanni Rovelli</td>
          <td>Italy</td>
        </tr> -->
      </table>
     
      
          
  
            
                
           
    </table>
  </div>
</div>

<%- include("partials/footer"); -%>
